[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

[Bb]uild/
[Bb]uilds/

.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

*.pidb
*.pdb
*.mdb
*.booproj
*.svd
*.tmp
*.swp


.DS_Store
Thumbs.db

.ipynb_checkpoints/
